export(mantaAccount)
export(mantaAttempt)
export(mantaFind)
export(mantaGetLimits)
export(mantaGetwd)
export(mantaLs)
export(mantaMkdir)
export(mantaRm)
export(mantaRmdir)
export(mantaSetLimits)
export(mantaSetwd)
export(mantaSetwdJobs)
export(mantaSetwdPublic)
export(mantaSetwdReports)
export(mantaSetwdStor)
export(mantaSnapln)
export(mantaWhoami)
import(PKI)
import(RCurl)
import(RJSONIO)
import(digest)
