export(mantaAccount)
export(mantaAttempt)
export(mantaGetwd)
export(mantaPath)
export(mantaSetwd)
export(mantaSetwdPublic)
export(mantaSetwdStor)
export(mantaWhoami)
import(PKI)
import(RCurl)
import(RJSONIO)
import(digest)
