export(mantaAccount)
export(mantaAttempt)
export(mantaFind)
export(mantaFind.du)
export(mantaFind.l)
export(mantaFind.n)
export(mantaFind.sizepath)
export(mantaFind.sizes)
export(mantaFind.url)
export(mantaGet)
export(mantaGetLimits)
export(mantaGetwd)
export(mantaLs)
export(mantaLs.du)
export(mantaLs.l)
export(mantaLs.n)
export(mantaLs.paths)
export(mantaLs.url)
export(mantaMkdir)
export(mantaPut)
export(mantaRm)
export(mantaRmdir)
export(mantaSetLimits)
export(mantaSetwd)
export(mantaSetwd.jobs)
export(mantaSetwd.public)
export(mantaSetwd.reports)
export(mantaSetwd.stor)
export(mantaSnapln)
export(mantaWhoami)
export(mantaXfer)
import(PKI)
import(RCurl)
import(RJSONIO)
import(digest)
